<a href="https://colab.research.google.com/github/weraines/nfl_model/blob/master/game_stats_initial_load.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import csv

url_base = 'https://www.teamrankings.com'

#Read in a csv with the various stats url endings
with open("urls.csv", 'r') as my_file:
    reader = csv.reader(my_file)
    my_list = list(reader)
    
#Create emply list to hold base stat urls
urls = []

for x in my_list:
    for y in x:
        urls.append(url_base+y)
        

#Create a list of dates to get stats by week
dates = ['?date=2018-09-11', '?date=2018-09-18', '?date=2018-09-25', 
         '?date=2018-10-02', '?date=2018-10-09', '?date=2018-10-16', 
         '?date=2018-10-23', '?date=2018-10-30', '?date=2018-11-06', 
         '?date=2018-11-06',]

data = [] #Holds dowloaded stat data
week = [] #Keeps track of game week
src = [] #Keeps track of the source url

#initializes week to week 2.  
#Week 1 stats are uaed to forecast week 2 games, etc.
w = 2

for date in dates:
    for u in urls:
        t_url = u+date
        website_url = requests.get(t_url)
        soup = BeautifulSoup(website_url.content, 'html.parser')
        table = soup.find_all('table')[0]
        table_body = table.find('tbody')
        rows = table_body.find_all('tr')
        for row in rows:
            cols = row.find_all('td')
            cols = [ele.text.strip() for ele in cols]
            data.append([ele for ele in cols if ele])
            week.append(w)
            src.append(t_url)
    w += 1

In [0]:
columns = ['Rank', 'Team', '2018', 'Last 3', 'Last 1', 'Home', 'Away', 
           '2017']
df_stats = pd.DataFrame.from_records(data)

df_stats.columns = columns

df_stats['week'] = week
df_stats['source'] = src

In [0]:
stat_name = []
prefix = 'https://www.teamrankings.com/nfl/stat/'

for index, row in df_stats.iterrows():
    stat_name.append(row['source'][len(prefix):len(row['source'])-16])

df_stats['stat_name'] = stat_name

In [0]:
df_stats = df_stats[['Rank', 'Team', 'week', 'source', 'stat_name',
                     '2018', 'Last 3', 'Last 1', 'Home', 'Away', '2017',]]

df_stats = pd.melt(df_stats, id_vars=['Rank', 'Team', 'week', 'source', 
                                      'stat_name',])

In [0]:
df_2018 = df_stats[df_stats.variable == '2018']

In [0]:
df_2018.to_csv('2018stats.csv', encoding='utf-8')

In [0]:
df_elo = pd.read_csv(
    'https://projects.fivethirtyeight.com/nfl-api/nfl_elo.csv')
df_2018 = df_elo[df_elo.season == 2018]

In [13]:
df_2018

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,elo2_post,score1,score2
16007,2018-09-06,2018,0,NaN,PHI,ATL,1646.786330,1600.640440,0.654710,0.345290,1659.578148,1587.848622,18.0,12.0
16008,2018-09-09,2018,0,NaN,BAL,BUF,1535.270103,1502.216567,0.637480,0.362520,1561.692326,1475.794344,47.0,3.0
16009,2018-09-09,2018,0,NaN,IND,CIN,1406.904376,1474.615256,0.496099,0.503901,1382.279534,1499.240097,23.0,34.0
16010,2018-09-09,2018,0,NaN,CLE,PIT,1301.910164,1595.802933,0.211216,0.788784,1310.717644,1586.995454,21.0,21.0
16011,2018-09-09,2018,0,NaN,NE,HOU,1651.078663,1397.603393,0.862153,0.137847,1656.086591,1392.595466,27.0,20.0
16012,2018-09-09,2018,0,NaN,MIA,TEN,1449.870530,1495.841219,0.527358,0.472642,1469.358591,1476.353157,27.0,20.0
16013,2018-09-09,2018,0,NaN,NYG,JAX,1411.677494,1534.818404,0.417101,0.582899,1397.115446,1549.380453,15.0,20.0
16014,2018-09-09,2018,0,NaN,NO,TB,1584.490340,1469.481636,0.738119,0.261881,1549.163577,1504.808399,40.0,48.0
16015,2018-09-09,2018,0,NaN,MIN,SF,1602.219546,1469.474445,0.757370,0.242630,1612.002483,1459.691508,24.0,16.0
16016,2018-09-09,2018,0,NaN,LAC,KC,1544.922535,1570.892675,0.555933,0.444067,1517.779595,1598.035615,28.0,38.0
16017,2018-09-09,2018,0,NaN,CAR,DAL,1549.961445,1547.239762,0.596244,0.403756,1567.174456,1530.026750,16.0,8.0
16018,2018-09-09,2018,0,NaN,DEN,SEA,1450.227605,1545.046150,0.457193,0.542807,1465.484205,1529.789551,27.0,24.0
16019,2018-09-09,2018,0,NaN,ARI,WSH,1482.654417,1471.502394,0.607870,0.392130,1445.574198,1508.582613,6.0,24.0
16020,2018-09-09,2018,0,NaN,GB,CHI,1471.719666,1443.862147,0.630539,0.369461,1476.634054,1438.947760,24.0,23.0
16021,2018-09-10,2018,0,NaN,DET,NYJ,1523.508450,1432.475733,0.710579,0.289421,1470.494958,1485.489225,17.0,48.0
16022,2018-09-10,2018,0,NaN,OAK,LAR,1464.895341,1529.948656,0.499923,0.500077,1434.455526,1560.388471,13.0,33.0
16023,2018-09-13,2018,0,NaN,CIN,BAL,1499.240097,1561.692326,0.503666,0.496334,1523.878414,1537.054010,34.0,23.0
16024,2018-09-16,2018,0,NaN,ATL,CAR,1587.848622,1567.174456,0.620855,0.379145,1603.025766,1551.997312,31.0,24.0
16025,2018-09-16,2018,0,NaN,GB,MIN,1476.634054,1612.002483,0.400094,0.599906,1479.681033,1608.955504,29.0,29.0
16026,2018-09-16,2018,0,NaN,NYJ,MIA,1485.489225,1469.358591,0.614679,0.385321,1457.443178,1497.404638,12.0,20.0
16027,2018-09-16,2018,0,NaN,BUF,LAC,1475.794344,1517.779595,0.533073,0.466927,1449.021558,1544.552381,20.0,31.0
16028,2018-09-16,2018,0,NaN,WSH,IND,1508.582613,1382.279534,0.750490,0.249510,1466.416637,1424.445510,9.0,21.0
16029,2018-09-16,2018,0,NaN,TB,PHI,1504.808399,1659.578148,0.373611,0.626389,1530.223375,1634.163172,27.0,21.0
16030,2018-09-16,2018,0,NaN,TEN,HOU,1476.353157,1392.595466,0.701891,0.298109,1484.095016,1384.853607,20.0,17.0
16031,2018-09-16,2018,0,NaN,PIT,KC,1586.995454,1598.035615,0.577036,0.422964,1565.797327,1619.233742,37.0,42.0
16032,2018-09-16,2018,0,NaN,NO,CLE,1549.163577,1310.717644,0.851546,0.148454,1552.780698,1307.100523,21.0,18.0
16033,2018-09-16,2018,0,NaN,LAR,ARI,1560.388471,1445.574198,0.737902,0.262098,1577.617266,1428.345403,34.0,0.0
16034,2018-09-16,2018,0,NaN,SF,DET,1459.691508,1470.494958,0.577369,0.422631,1471.127613,1459.058853,30.0,27.0
16035,2018-09-16,2018,0,NaN,JAX,NE,1549.380453,1656.086591,0.440267,0.559733,1577.735693,1627.731350,31.0,20.0
16036,2018-09-16,2018,0,NaN,DEN,OAK,1465.484205,1434.455526,0.634782,0.365218,1470.335452,1429.604278,20.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16244,2018-12-23,2018,0,NaN,NO,PIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16245,2018-12-23,2018,0,NaN,SEA,KC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16246,2018-12-24,2018,0,NaN,OAK,DEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16247,2018-12-30,2018,0,NaN,KC,OAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16248,2018-12-30,2018,0,NaN,BAL,CLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16249,2018-12-30,2018,0,NaN,BUF,MIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16250,2018-12-30,2018,0,NaN,WSH,PHI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16251,2018-12-30,2018,0,NaN,TEN,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16252,2018-12-30,2018,0,NaN,GB,DET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16253,2018-12-30,2018,0,NaN,HOU,JAX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16254,2018-12-30,2018,0,NaN,MIN,CHI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16255,2018-12-30,2018,0,NaN,NE,NYJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16256,2018-12-30,2018,0,NaN,NO,CAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16257,2018-12-30,2018,0,NaN,NYG,DAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16258,2018-12-30,2018,0,NaN,PIT,CIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16259,2018-12-30,2018,0,NaN,TB,ATL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16260,2018-12-30,2018,0,NaN,DEN,LAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16261,2018-12-30,2018,0,NaN,LAR,SF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16262,2018-12-30,2018,0,NaN,SEA,ARI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16263,2019-01-04,2018,0,w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16264,2019-01-04,2018,0,w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16265,2019-01-05,2018,0,w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16266,2019-01-05,2018,0,w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16267,2019-01-11,2018,0,d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16268,2019-01-11,2018,0,d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16269,2019-01-12,2018,0,d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16270,2019-01-12,2018,0,d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16271,2019-01-20,2018,0,c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16272,2019-01-20,2018,0,c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16273,2019-02-02,2018,1,s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
df_2018 = df_2018.dropna(subset = ['team1','score1'])

In [0]:
elo_teams = np.sort(df_2018.team1.unique()).tolist()

ksports_teams = np.sort(df_stats.Team.unique()).tolist()

team_abbrev = dict(zip(ksports_teams, elo_teams))

team_abbrev

In [0]:
df_stats['abbr'] = df_stats['Team'].map(team_abbrev)

In [0]:
df_stats = df_stats[['Rank', 'Team', 'abbr', 'week', 'source', 'stat_name', 
                     'variable', 'value',]]

In [0]:
df_2018.date = pd.to_datetime(df_2018.date)

In [0]:
win=[]
spread=[]

for index, row in df_2018.iterrows():
    if row['score1'] > row['score2']:
        win.append('team1')
    elif row['score1'] < row['score2']:
        win.append('team2')
    else:
        win.append('tie')
    spread.append(row['score1'] - row['score2'])

In [0]:
df_2018['win'] = win
df_2018['spread'] = spread
df_2018

In [0]:
df_2018.to_csv('elo_2018.csv', encoding='utf-8')

In [0]:
df_stats.info()

In [0]:
import datetime

week = []

for index, row in df_2018.iterrows():
    print(date)
    if row['date'] < datetime.date(2018,9,11):
        wk = 1
    elif row['date'] > datetime.date(2018,9,11) and row['date'] < datetime.date(2018,9,18):
        wk = 2
    elif row['date'] > datetime.date(2018,9,18) and row['date'] < datetime.date(2018,9,25):
        wk = 3
    elif row['date'] > datetime.date(2018,9,25) and row['date'] < datetime.date(2018,10,2):
        wk = 4
    elif row['date'] > datetime.date(2018,10,2) and row['date'] < datetime.date(2018,10,9):
        wk = 5
    elif row['date'] > datetime.date(2018,10,9) and row['date'] < datetime.date(2018,10,16):
        wk = 6
    elif row['date'] > datetime.date(2018,10,16) and row['date'] < datetime.date(2018,10,23):
        wk = 7
    else:
        wk = 8
    week.append(wk)

df_2018['week'] = week

In [0]:
df_2018.info()